In [1]:
from sklearn.linear_model import LinearRegression

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_absolute_percentage_error

In [2]:
import pandas as pd 
df = pd.read_csv("tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
df.isnull()

     total_bill    tip    sex  smoker    day   time   size
0         False  False  False   False  False  False  False
1         False  False  False   False  False  False  False
2         False  False  False   False  False  False  False
3         False  False  False   False  False  False  False
4         False  False  False   False  False  False  False
..          ...    ...    ...     ...    ...    ...    ...
239       False  False  False   False  False  False  False
240       False  False  False   False  False  False  False
241       False  False  False   False  False  False  False
242       False  False  False   False  False  False  False
243       False  False  False   False  False  False  False

[244 rows x 7 columns]

In [4]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [5]:

from sklearn.preprocessing import LabelEncoder



# Columns to encode
en_columns = ['sex','smoker','day','time']

label_encode = {}

for col in en_columns:
    le = LabelEncoder()                
    df[col] = le.fit_transform(df[col])  
    label_encode[col] = le 

df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

x = df[['total_bill']]
y = df['tip']


x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)


lr = LinearRegression()
lr.fit(x_train, y_train)


pre_y = lr.predict(x_test)


print("R2 Score for Linear Regression: ", r2_score(y_test, pre_y))
print("MAE for Linear Regression: ", mean_absolute_error(y_test, pre_y))
print("MAPE for Linear Regression: ", mean_absolute_percentage_error(y_test, pre_y))

R2 Score for Linear Regression:  0.5449381659234663
MAE for Linear Regression:  0.6208580000398983
MAPE for Linear Regression:  0.26395165529907566

In [7]:
import pickle
with open("model.pkl", "wb") as file:
    pickle.dump(lr, file)